.container{
    margin-bottom: 1px;
}

.input {
    border: 1px solid #2BA745;
    background-color: white;
    border-radius: 8px;
}

.input::placeholder{
    color: grey;
}

.button{
    padding: 2px;
    background-color: #1f5768;
    color: #2BA745;
    border-style: solid #2BA745;
    border-color: 2px solid #2BA745;
    border-radius: 8px;
}